<md-nav-bar md-selected-nav-item="$state.current.name" nav-bar-aria-label="navigation links">
   <md-nav-item md-nav-click="changeState('details.details')"   name="details.details"    ng-class="secondaryNavTheme">Details</md-nav-item>
   <md-nav-item md-nav-click="changeState('details.amenities')" name="details.amenities"  ng-class="secondaryNavTheme">Amenities</md-nav-item>
   <md-nav-item md-nav-click="changeState('details.map')"       name="details.map"        ng-class="secondaryNavTheme">Map</md-nav-item>
   <md-nav-item md-nav-click="changeState('details.photos')"    name="details.photos"     ng-class="secondaryNavTheme">Photos</md-nav-item>
   <md-nav-item md-nav-click="changeState('details.contact')"   name="details.contact"    ng-class="secondaryNavTheme">Contact</md-nav-item>
</md-nav-bar>
