/**
 * Spaces
 */

$space-xxs: 2px;
$space-xs: 4px;
$space-s: 8px;
$space-m: 16px;
$space-l: 32px;
$space-xl: 64px;
$space-xxl: 128px;

.padding-top { padding-top: 8px;}
.padding-bottom {padding-bottom: 8px;}

.padding-top-right {padding: 8px 8px 0 0 !important;}
