<div layout="row" layout-margin ng-cloak>
  <div layout="row" layout-align="start center" flex>
    <span class="md-headline">Settings</span>
  </div>
  <div layout="row" layout-align="end center">
    <md-button class="md-raised md-fab md-mini" aria-label="Toggle grid" ng-click="vm.toggleView()">
      <ng-md-icon icon={{vm.viewLayout}} style="fill: rgb(33,33,33)"
      options={{iconTransitionOptions}}></ng-md-icon>
    </md-button>
    <md-button class="md-raised" ng-click="vm.addProperty()">Add</md-button>
  </div>

</div>

<md-content class="md-padding" layout-xs="column" layout="row" ng-cloak>

</md-content>
