<div layout="row" layout-margin>
  <div layout="row" layout-align="start center" flex>
    <span class="md-headline">Properties</span>
  </div>

  <div layout="row" layout-align="end center">
    <md-button class="md-raised md-fab md-mini" aria-label="Toggle grid" ng-click="vm.toggleView()">
      <ng-md-icon icon={{vm.viewLayout}} style="fill: rgb(33,33,33)"
      options={{iconTransitionOptions}}></ng-md-icon>

    </md-button>
    <md-button class="md-raised" ng-click="vm.addProperty()">Add</md-button>
  </div>
</div>


<md-content class="md-padding" layout-xs="column" layout="row">

<div flex layout="column">

  <md-card>
    <img ng-src="{{imagePath}}" class="md-card-image" alt="Washed Out">
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">In-card mixed actions</span>
      </md-card-title-text>
    </md-card-title>
    <md-card-actions layout="row" layout-align="start center">
      <md-card-icon-actions>
        <md-button class="md-icon-button" aria-label="Favorite" ng-style="{color: 'blue'}">
          <ng-md-icon icon="send" style="fill: pink"></ng-md-icon>
        </md-button>
        <md-button class="md-icon-button" aria-label="Share">
          <md-icon md-svg-icon="icons/share.svg"></md-icon>
        </md-button>
      </md-card-icon-actions>
      <md-button>Action 1</md-button>
      <md-button>Action 2</md-button>
    </md-card-actions>
    <md-card-content>
      <p>
        The titles of Washed Out's breakthrough song and the first single from Paracosm share the
        two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
      </p>
    </md-card-content>
  </md-card>

  <div ng-repeat="property in vm.properties">
    <md-card>
      <md-card-content>
        <h3>{{property.tagline}}</h3>
        <p>Created {{property.createdAt}}</p>
        <p>Updated {{property.updatedAt}}</p>
      </md-card-content>
    </md-card>
  </div>


</div>

</md-content>
