.gridListdemoDynamicTiles md-icon {
  width: 50%;
  height: 30%; }

.gridListdemoDynamicTiles md-icon svg {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%; }

.gridListdemoDynamicTiles .s64 {
  font-size: 64px; }

.gridListdemoDynamicTiles .s32 {
  font-size: 48px; }

.gridListdemoDynamicTiles md-icon.fa {
  display: block;
  padding-left: 0; }

.gridListdemoDynamicTiles md-icon.s32 span {
  padding-left: 8px; }

.gridListdemoDynamicTiles md-grid-list {
  margin: 8px; }

.gridListdemoDynamicTiles .grey {
  background: rgb(99,99,99); }

.gridListdemoDynamicTiles .green {
  background: #b9f6ca; }

.gridListdemoDynamicTiles .yellow {
  background: #ffff8d; }

.gridListdemoDynamicTiles .blue {
  background: #84ffff; }

.gridListdemoDynamicTiles .darkBlue {
  background: #80d8ff; }

.gridListdemoDynamicTiles .deepBlue {
  background: #448aff; }

.gridListdemoDynamicTiles .purple {
  background: #b388ff; }

.gridListdemoDynamicTiles .lightPurple {
  background: #8c9eff; }

.gridListdemoDynamicTiles .red {
  background: #ff8a80; }

.gridListdemoDynamicTiles .pink {
  background: #ff80ab; }

.gridListdemoDynamicTiles md-grid-tile {
  transition: all 350ms;
}

.gridListdemoDynamicTiles {
  transition: all 100ms;
}

md-grid-tile {
  border: 1px solid rgba(10,10,10,.35) !important;
  box-shadow: 2px 2px 3px 0 rgba(0,0,0, 0.28) !important;
  border-radius: 1px;
}
.md-button.md-raised.tileButton {
  border: 1px solid rgba(10,10,10,.2) !important;
  box-shadow: 1px 1px 2px 0 rgba(0,0,0, 0.28) !important;
  opacity: 0.82;
  font-size: 0.8em;
  border-radius: 1px;
  min-width: 48px;
  width: 100%;
  margin: 0px 4px;
  padding: 0 8px;
  text-transform: none;
}

.gridListdemoDynamicTiles md-grid-tile md-icon {
  padding-bottom: 32px; }

.gridListdemoDynamicTiles md-grid-tile md-grid-tile-footer {
  background: none;
 }

.gridListdemoDynamicTiles md-grid-tile-footer figcaption {
  width: 100%;
}

.gridListdemoDynamicTiles md-grid-tile-footer figcaption h3 {
  margin: 0;
  font-weight: 700;
  width: 100%;
  text-align: center; }

figcaption {
  width: 100%;
  display: block;
}

fieldset {
    display: block;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-before: 0;
    -webkit-padding-start: 0;
    -webkit-padding-end: 0;
    -webkit-padding-after: 0;
    min-width: -webkit-min-content;
    border-width: 0;
    border-style: groove;
    border-color: threedface;
    border-image: initial;
}

legend {
    color: rgba(0,0,0,0.54);
    font-size: 12px;
    display: block;
    -webkit-padding-start: 0;
    -webkit-padding-end: 0;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
}
