doctype html
html(lang='en' ng-app='app')
  head
    title(ng:if="false") Loading...
    title(ng:if="true") {{$root.title}}
    base(href="/")
    meta(content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport')
    link(rel='stylesheet' href='/css/app.css' type='text/css')
    link(rel='stylesheet' href='//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css')
    script(type="text/javascript" src="https://js.stripe.com/v1/")
    script(type='text/javascript' src='https://maps.googleapis.com/maps/api/js?libraries=places')
    script(src='/js/app.js')
    
  body(ui-view="")
