.app(layout='column')
      section(layout='row' flex='')
        md-sidenav.md-sidenav-left.md-whiteframe-z2(md-component-id='left' md-is-locked-open="$mdMedia('gt-md')")
          md-toolbar.md-theme-indigo
            h1.md-toolbar-tools 
              .text Flybot
          md-content(layout-padding='')
                md-list
                    mixin group(name)
                      //md-subheader.md-no-sticky {{menu.#{name}.header}}
                      md-list-item.md-3-line(ng-repeat='item in menu.#{name}.list')
                        md-button(ng:click="open(item)" ng:class="{active: opened(item)}")
                          md-icon.md-avatar(md-font-set="material-icons") {{item.icon}}
                          .md-list-item-text(layout='column')
                            | {{ item.text }}
                    +group('top')
                    md-divider
                    +group('bottom')
        md-content(flex='' layout-padding='' ui-view="content")
        md-sidenav.md-sidenav-right.md-whiteframe-z2(md-component-id='right')
          md-toolbar.md-theme-light
            h1.md-toolbar-tools Sidenav Right
          md-content(layout-padding='')
            form
              md-input-container
                label(for='testInput') Test input
                input#testInput(type='text' ng-model='data' md-autofocus='')
            md-button.md-primary(ng-click='close()')
              | Close Sidenav Right