<md-sidenav
  class="md-sidenav-left"
  md-component-id="left"
  md-is-locked-open="navOpen">

  <md-list class="nav-list">
    <md-list-item class="nav-item" ng-click="changeState('main')">
      <p>Dashboard</p>
      <ng-md-icon icon="dashboard"></ng-md-icon>
    </md-list-item>

    <md-list-item class="nav-item" ng-click="changeState('calendar')">
      <p>Calendar</p>
      <ng-md-icon icon="date_range"></ng-md-icon>
    </md-list-item>

    <md-list-item class="nav-item" ng-click="changeState('properties')">
      <p>Properties</p>
      <ng-md-icon icon="location_city"></ng-md-icon>
    </md-list-item>

    <md-list-item class="nav-item" ng-click="changeState('units')">
      <p>Units</p>
      <ng-md-icon icon="hotel"></ng-md-icon>
    </md-list-item>

    <md-list-item class="nav-item" ng-click="changeState('main')">
      <p>Rates</p>
      <ng-md-icon icon="monetization_on"></ng-md-icon>
    </md-list-item>

    <md-list-item class="nav-item" ng-click="changeState('main')">
      <p>Metrics</p>
      <ng-md-icon icon="insert_chart"></ng-md-icon>
    </md-list-item>

  </md-list>

</md-sidenav>
<!-- md-is-locked-open="$mdMedia('gt-md')" -->
