md-sidenav {
  height: 100%;
  width: 280px;
}

.left-nav {
  -webkit-box-shadow: 1px 0px 2px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 1px 0px 2px 0px rgba(0,0,0,0.2);
  box-shadow: 1px 0px 2px 0px rgba(0,0,0,0.2);
  z-index: 2000 !important;
}

.md-button:not([disabled]).md-focused {
  background-color: inherit;
}

.nav-item {

}

.nav-list {
  padding: 0;
}
