<div>

  <md-list class="nav-list">
    <md-list-item class="nav-item-thin" ng-click="changeState('main')">
      <p>Calendar</p>
    </md-list-item>

    <md-list-item class="nav-item-thin" ng-click="changeState('properties')">
      <p>Properties</p>
    </md-list-item>

    <md-list-item class="nav-item-thin" ng-click="changeState('units')">
      <p>Units</p>
    </md-list-item>

    <md-list-item class="nav-item-thin" ng-click="changeState('main')">
      <p>Rates</p>
    </md-list-item>

    <md-list-item class="nav-item-thin" ng-click="changeState('main')">
      <p>Metrics</p>
    </md-list-item>

  </md-list>

</div>
