<md-toolbar class="top-nav">
  <md-progress-linear
    md-mode="indeterminate"
    ng-disabled="loading"
    class="md-accent md-hue-2">
  </md-progress-linear>

  <div class="md-toolbar-tools top-nav">
    <!-- <md-button class="md-raised md-fab md-mini md-primary md-hue-2" ng-click="toggleNav()" aria-label="collapse sidenav"> -->
    <md-button class="md-icon-button" ng-click="toggleNav()" aria-label="settings">
      <ng-md-icon icon={{navCollapseIcon}} options={{iconTransitionOptions}}></ng-md-icon>
    </md-button>
    <h1 ng-hide="!screenIsBig()" flex="30">ABL Hosts</h1>
<!--         <md-input-container ng-show="screenIsNormal()" md-no-float class="md-block embeddedInput" flex="40">
<ng-md-icon icon="search"></ng-md-icon>
        <input ng-model="user.phone" type="text">
    </md-input-container> -->
    <span flex></span>


<!--     <md-button class="md-icon-button" ng-click="loading = loading ? false : true" aria-label="change theme">
      <ng-md-icon icon="access_time"></ng-md-icon>
    </md-button> -->

    <md-button class="md-heavy" ng-click="changeTheme()" aria-label="">
      {{user.niceName}}
      <!-- <ng-md-icon icon="login"></ng-md-icon> -->
    </md-button>

<!--     <md-button class="md-icon-button" ng-click="changeTheme()" aria-label="change theme">
      <ng-md-icon icon="format_paint"></ng-md-icon>
    </md-button> -->

    <md-button class="md-icon-button"  ng-click="changeState('settings')" aria-label="settings">
      <ng-md-icon icon="settings"></ng-md-icon>
    </md-button>

    <md-button class="md-icon-button" ng-click="changeTheme()" aria-label="help">
      <ng-md-icon icon="help_outline"></ng-md-icon>
    </md-button>

    <md-button class="md-icon-button icon-logo" ng-click="changeTheme()" aria-label="help">
    <md-icon class="icon-md" md-svg-icon="icons/logo.svg" style="color: #0F0;" aria-label="Alarm Icon"></md-icon>
    </md-button>
  </div>
</md-toolbar>
